.game-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #bfefff;
}

.rotate-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.game-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
