
/* ParallaxSky.css */

.parallax-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.parallax-layer {
  position: absolute;
  width: 100%;
  height: 200%;
  background-size: cover;
  background-repeat: no-repeat;
}

.floating-cloud {
  position: absolute;
  opacity: 0.9;

  transition: transform 0.1s linear;
  cursor: pointer;
}

.balloon-fixed {
  position: fixed; /* เปลี่ยนจาก absolute เป็น fixed */
  bottom: 10px;
  right: 10px;
  width: 450px;

  z-index: 10;
  cursor: pointer;
    /* เพิ่ม transition ให้กับตำแหน่งและ transform */
 transition:
    top 4s ease-in-out,
    left 4s ease-in-out,
    transform 5s ease-in-out;
}
/* เมื่อ hover ค่อยเริ่ม animation */
.balloon-fixed:hover {
  animation: floatUpDown 1.5s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

@keyframes sway {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.zoom-layer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.zoom-fade-old,
.zoom-fade-new {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top;
  background-attachment: scroll;
}

/* Old one fades out */
.zoom-fade-old {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out, filter 2s ease-in-out;
  transform: scale(1);
  opacity: 1;
  z-index: 2;
  will-change: transform;
}

.zoom-fade-old.hide {
  transform: scale(1.05);
  opacity: 0;
  filter: blur(3px);
}

.zoom-fade-new {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;

}

.zoom-fade-new.show {
  opacity: 1;
}