
/* ParallaxSky.css */

.parallax-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.parallax-layer {
  position: absolute;
  width: 100%;
  height: 200%;
  background-size: cover;
  background-repeat: no-repeat;
}

.floating-cloud {
  position: absolute;
  opacity: 0.9;

  transition: transform 0.1s linear;
  cursor: pointer;
}
